.ChartWrapper {
  // background-color: #132737;
  // background-color: rgb(236, 236, 236);
  // height: 300px;
  //   width: 500px;
  width: 100%;
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
  justify-items: center;
  @media (min-width: 570px) {
    width: 100%;
  }
}
.Xaxis {
  background-color: green;
}
.chartContainer {
  height: 100%;
  width: 100%;
}
